@import "common";
@import "top";
@import "header";
@import "nav";
@import "footer";
@import "pagination";
//nav修改样式隐藏显示
.menu {
    display: none;
}

.nav-list {
    &:hover {
        .menu {
            display: block;
        }
    }
}

//列表
#main {
    margin-bottom: 10px;
    .main_tit {
        margin: 20px 0;
        padding-left: 30px;
        font-size: 12px;
        color: #747474;
        line-height: 20px;
        .icon-quanbushangpin {
            margin: 0 5px;
        }
        em {
            color: #cc0000;
            padding: 0 2px;
        }
    }
}

//内容
.main-cont {
    //左边
    .main_l {
        width: 208px;
        min-height: 600px;
        border: 1px solid #E8E8E8;
        overflow: hidden;
    }
    .main_nav {
        h5 {
            padding-left: 20px;
            color: #747474;
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #e8e8e8;
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            background: #f9f9f9;
        }
        .icon-v {
            float: right;
            margin-right: 20px;
        }
        // .main_m {
        //     display: none;
        // }
        .nav_tt {
            li {
                padding-left: 30px;
                margin: 20px;
                font-size: 12px;
                color: #747474;
            }
            span {
                margin-left: 10px;
            }
        }
    }
}

//右边
.main_r {
    .mian_list_t {
        width: 970px;
        margin-top: 10px;
        border: 1px solid #E8E8E8;
        height: 35px;
        .con_l {
            border-right: 1px solid #E8E8E8;
        }
        li {
            float: left;
            width: 120px;
            height: 35px;
            text-align: center;
            line-height: 35px;
        }
        .con_c {
            padding: 3px 20px;
            background: #cc0000;
        }
    }
}

//商品品种过滤
.mian_list_b {
    .main_fil {
        width: 960px;
        margin-top: 10px;
        margin-left: 5px;
        border: 1px solid #E8E8E8;
        height: 35px;
        background-color: #fafafa;
        li {
            float: left;
            width: 120px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            border-right: 1px solid #E8E8E8;
            cursor: pointer;
            &:hover {
                background: #cc0000;
                color: #E8E8E8;
            }
        }
        .icon-jiantou-copy {
            color: #747474;
        }
        dl {
            dt {
                float: left;
                width: 120px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                &:hover {
                    background: #cc0000;
                    color: #E8E8E8;
                }
            }
            dd {
                border-left: 1px solid #E8E8E8;
                float: left;
                width: 60px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                &:hover {
                    background: #cc0000;
                    color: #E8E8E8;
                }
            }
        }
    }
}

//渲染列表
.main_list_c {
    width: 970px;
    dl {
        width: 220px;
        height: 360px;
        padding: 5px;
        background: #fff;
        margin: 6px;
        cursor: pointer;
        font-size: 12px;
        float: left;
        &:hover {
            box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.1);
            z-index: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    dd {
        position: relative;
        color: #747474;
        h4 {
            width: 200px;
            text-align: left;
            line-height: 18px;
            height: 40px;
            white-space: normal;
            overflow: hidden;
            color: #747474;
            background: #fff;
            &:hover {
                color: #cc0000;
            }
        }
        p {
            color: #747474;
            width: 180px;
            font-size: 14px;
            height: 22px;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 5px;
            &:hover {
                color: #cc0000;
            }
        }
        u {
            color: #FF4D4F;
            font-size: 14px;
            display: block;
            font-weight: bold;
        }
        em {
            position: absolute;
            background: orange;
            color: #E8E8E8;
            top: 0;
            left: 70px;
        }
        b {
            color: red;
        }
        span {
            float: right;
            color: #cc0000;
            margin-right: 10px;
        }
    }
    img {
        display: block;
        width: 220px;
        height: 220px;
    }
}

//页面跳转
.page {
    ul {
        float: right;
        width: auto;
        float: right;
        text-align: left;
        height: 30px;
        line-height: 30px;
        margin: 10px;
        border-left: 1px;
        li {
            color: #ccc;
            border: 1px solid #ccc;
            border-left-width: 0;
            cursor: default;
            float: left;
            padding: 0 10px;
            input {
                display: inline-block;
                width: 20px;
                color: #474747;
                line-height: 26px;
                padding-left: 10px;
                border: 1px solid #e8e8e8;
                background: #fff;
                border-radius: 2px;
                font-size: 12px;
                font-weight: 500;
                height: 26px;
                margin: 0 3px;
            }
            a {
                color: #cc0000;
            }
        }
        .page_btn1 {
            background: #cc0000;
            color: #e8e8e8;
        }
        .page_ym {
            &:hover {
                color: #cc0000;
            }
        }
        .page_j {
            &:hover {
                color: #cc0000;
            }
        }
        .page_j {
            &:hover {
                color: #cc0000;
            }
        }
        .page_btn2 {
            &:hover {
                color: #cc0000;
            }
        }
    }
}