@import "common";
@import "footer";
body {
    background: #fafafa;
}

//头部
header {
    background: #fff;
    height: 110px;
    h1 {
        float: left;
        width: 174px;
        height: 80px;
        margin-top: 10px;
        padding-right: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h2 {
        font-size: 24px;
        color: #747474;
        line-height: 110px;
        span {
            margin-right: 10px;
        }
    }
}

//主题
main {
    width: 980px;
    height: 410px;
    margin: 15px auto;
    background: #fff;
    .main_left {
        width: 500px;
        height: 380px;
        margin: 10px 30px;
        img {
            width: 500px;
            height: 380px;
        }
    }
    .main_right {
        width: 380px;
        height: 380px;
        margin: 10px 0px 0px 10px;
        padding-top: 20px;
    }
}

//表单
form {
    width: 270px;
    padding-top: 40px;
    li {
        margin-bottom: 20px;
        position: relative;
        .icon-suo {
            position: absolute;
            font-size: 20px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
        .icon-denglu1 {
            position: absolute;
            font-size: 20px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
        a {
            font-size: 12px;
            color: #747474;
            margin-right: 20px;
            .iconfont {
                font-size: 16px;
            }
            &:hover {
                span {
                    color: #cc0000;
                }
            }
            .icon-qq {
                color: blue;
            }
            .icon-3-copy {
                color: green;
            }
        }
        &:nth-of-type(3) {
            margin-bottom: 5px;
        }
    }
    input {
        width: 100%;
        box-sizing: border-box;
        color: #474747;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        border: 1px solid #e8e8e8;
        background: #fff;
        border-radius: 2px;
        font-size: 14px;
    }
    .btn {
        width: 100%;
        height: 35px;
        border: 0;
        background: #cc0000;
        color: #fff;
        border-radius: 2px;
        cursor: pointer;
    }
    p {
        a {
            font-size: 12px;
            &:link {
                color: #cc0000;
            }
            &:nth-last-child(1) {
                float: right;
            }
        }
    }
}